@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #1E0448;
  --secondary-color: #FF9C27;
  --distinct-color: #FFAB48;
  --mid-color: #77EE83;
  --tertiary-color: #37AFCA;
  --underlay-color: #F5EEFD;
  --page-padding: 3rem;
  --page-margin: 4rem;
  --font-base: 1.5rem;
  --header-font: 2rem;
  --align: center;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: var(--primary-color);
  background: #fff;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
}


h2 { 
  font-size: 2em;
}

pre {
  font-size: 0.8em;
}

 @media screen and (min-width: 900px) {
   html{
     font-size: 18px;
   }
  }
    
  @media screen and (min-width: 1200px) {
    html{
      font-size: 20px;
    }
  }