.main_container{
    border: 1px solid #CCCCCC;
    width: 95%;
    margin: 30px 20px;
    padding: 30px;
 
}
.main_container_centered{
    border: 1px solid #CCCCCC;
    width: 95%;
    margin: 30px 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form_container{
    width: 100%;
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: space-evenly;
    grid-row-gap: 50px;
}
.table_container{
    width: 100%;
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: space-evenly;
    grid-row-gap: 10px;
}
.input_style{
    width: 14.7rem;
    padding: 10px;
    border-radius: 2pt;
    border:  1px solid #564376;
    font-size: 0.9rem;
    

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.paragraph{
    font-size: 0.9rem;
    color: #564376;
}
.loanHistory_container{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loan_image_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
}
@media screen and (max-width: 500px) {
    .loan_buttons{
        flex-direction: column;
    }
  }
  @media screen and (max-width: 1000px) {
    .form_container{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        grid-row-gap: 30px;
    }
  }