button{
  outline: none;
    cursor: pointer;
}


.init--narrow{
    background: transparent;
    color: var(--primary-color);
    padding: .3rem 2.3rem;
    border: 1px solid var(--primary-color);
    border-radius: .2rem;
}

.white--narrow{
   background: transparent;
    color: #fff;
    padding: .5rem 2.3rem;
    border: 1px solid #fff;
    border-radius: .2rem;
}

.init--extended{
     background: transparent;
    color: var(--primary-color);
    padding: .6rem 4rem;
    border: 1px solid var(--primary-color);
    border-radius: .4rem;
}

.primary--narrow{
       background: var(--primary-color);
    color: #fff;
     padding: .6rem 2.3rem;
    border: 1px solid var(--primary-color);
    border-radius: .2rem;
}

.primary--extended{
      background: var(--primary-color);
   color: #fff;
     padding: .6rem 4rem;
    border: 1px solid var(--primary-color);
    border-radius: .4rem;
}

.secondary--extended{
    background: var(--secondary-color);
   color: #fff;
     padding: .6rem 4rem;
    border: 1px solid var(--secondary-color);
    border-radius: .4rem;
}
.neon--extended{
    background: #77EE83;
   color: #fff;
     padding: .6rem 4rem;
    border: 1px solid #77EE83;
    border-radius: .4rem;
}
.ocean--extended{
    background: #69C3D7;
   color: #fff;
     padding: .6rem 4rem;
    border: 1px solid #69C3D7;
    border-radius: .4rem;
}

.secondary--narrow{
   background: var(--secondary-color);
   color: #fff;
    padding: .6rem 2.3rem;
    border: 1px solid var(--secondary-color);
    border-radius: .2rem;
}
.neon--narrow{
   background: #77EE83;
   color: #fff;
    padding: .6rem 2.3rem;
    border: 1px solid #77EE83;
    border-radius: .2rem;
}
.ocean--narrow{
   background: #69C3D7;
   color: #fff;
    padding: .6rem 2.3rem;
    border: 1px solid #69C3D7;
    border-radius: .2rem;
}

.login{
    margin-left: 1rem;
}