.logo{
        width: 9rem;
    margin-left: 1rem;
    align-self: center;
    justify-self: center;
    padding: 1rem 0;
}

.iconhandler{
        width: 5.3rem;
    height: 4rem;
}

    .apply button{
    font-size: .6rem;
}

.menu_icon, .menu_text{
    color: #F5EEFD;;
    fill: #F5EEFD;;
}

.logout_text{
    color: "#FF0000" ;
}

.notifIcon{
    position: absolute;
    right: 1rem;
}


.dash_container{
    display: flex;
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 2rem 1rem;
flex-direction: column;
color: var(--underlay-color);
justify-content: space-between;
}

.heading{
    font-size: 1rem !important;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.431);
}


.body p{
    margin-bottom: 1rem;
}


.body p:first-child{
    margin-top: 1rem;
}

.apply{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .8rem;
}


.cta{
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
}

.cta p{
    font-size: .9rem;
    margin-bottom: 1rem;
}

.cta_btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cta p{
    color: var(--primary-color);
}

.recent p{
    color: var(--primary-color);
    margin-top: .5rem;
}

.recent p:first-child{
font-size: 1rem;
}

.recent p:not(:first-child){
    font-size: .6rem;
}

@media (min-width: 768px){
    .grid_item{
    font-size: .8rem !important;
}
}

@media (min-width: 900px){
    .apply button{
    font-size: .8rem;
}
    .iconhandler{
        width: 4.7rem;
    height: 4rem;
}


.cta_btns{
    flex-direction: row;
    justify-content: space-between;
}

}

@media (min-width: 1200px){
    .iconhandler{
        width: 4.25rem;
    height: 4rem;
}
}

@media (max-width: 599px){
    .iconhandler{
        width: 4.3rem;
    height: 3.9rem;
}
}