.container {
  background-color: var(--primary-color);
  padding: 2rem 2rem 4rem 2rem;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.heading {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 700;
}

.links .link {
  text-decoration: none;
  list-style: none;
  font-size: 0.7rem;
  line-height: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .box0,
  .box1,
  .box2,
  .box3 {
    grid-column: 1/6;
    text-align: center;
  }

  .box0,
  .box1,
  .box2 {
    margin-bottom: 3rem;
  }
}
