.container {
  background-color: var(--primary-color);
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex: 0.3;
  width: 10rem;
}

.btns {
  flex: 0.7;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-right: 1rem;
}
