.menu__toggle{
    color: var(--secondary-color);
    width: 2rem;
}

.menuBox{
    background-color: var(--primary-color);
    height: 100%;
    color: #fff;
    padding: 2rem 1rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .MuiBackdrop-root{
display: none;
}

.logo_sidebar {
  display: flex;
  flex: 0.3;
  width: 100%;
}

.list_options{
    margin-top: 1rem; 
}

.listText{
     margin-top: 2rem;
     font-size: 1.2rem;
}

.list_options a{
    text-decoration: none;
    color: #fff;
}