button{
  outline: none;
    cursor: pointer;
}


.init--narrow{
    background: transparent;
    color: var(--primary-color);
    padding: .3rem 2rem;
    border: 1px solid var(--primary-color);
    border-radius: .2rem;
}

.init--extended{
     background: transparent;
    color: var(--primary-color);
    padding: .6rem 4rem;
    border: 1px solid var(--primary-color);
    border-radius: .4rem;
}

.primary--narrow{
       background: var(--primary-color);
    color: #fff;
     padding: .6rem 2rem;
    border: 1px solid var(--primary-color);
    border-radius: .4rem;
}

.primary--extended{
      background: var(--primary-color);
   color: #fff;
     padding: .6rem 4rem;
    border: 1px solid var(--primary-color);
    border-radius: .4rem;
}

.secondary--extended{
    background: var(--secondary-color);
   color: #fff;
     padding: .6rem 4rem;
    border: 1px solid var(--secondary-color);
    border-radius: .4rem;
}