
.container {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

.section {
  flex-direction: column;
}

.image__container {
  display: flex;
  flex: 0.5;
}

.image_inner_container{
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.image__container img {
  max-width: 80%;
  height: 80%;
  object-fit: cover;
}


.container__text {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}
.container__inner {
  max-width: 100%;
}

.attention__draw {
  background: var(--primary-color);
  color: var(--underlay-color);
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  margin: 0;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

.title{
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.subtitle{
  font-size: 1rem;
   line-height: 2rem;
   margin-bottom: 1rem;
}

@media screen and (min-width: 712px) {
.section {
  flex-direction: row;
}
.section:nth-child(2n){
flex-direction: row-reverse;
}
.image_inner_container{
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
}
.image__container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.title{
  font-size: 3rem;
  line-height: 3rem;
}
.subtitle{
  font-size: 1rem;
  line-height: 2rem;
}
}